
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }

:root{



--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);



--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);

}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--Cream);

    font-family: 'Montserrat';
}

 h1,
 .price-1{
    font-family: 'Fraunces';
    font-weight: bold;
 }

 .price-1{
  color: var(--Green-500);
  font-size: 32px;
 
 }

 .price-2{
    text-decoration: line-through;
    margin-left: 8px;
    
 }

.card {
    background-color: var(--White);
    border-radius: 12px;
    overflow: hidden; 
    max-width: 373px;
   
  }


  .product-image img {
    width: 100%;
    display: inline-block; 
  }

  .product-category{
    
    text-transform:uppercase;
    letter-spacing: 3px;
  }
  
  .product-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
.cart{
   background-color: var(--Green-500); 
   color: var(--White);

   padding: 20px;
   border-radius: 10px;


   display: flex;
   justify-content: center;
   align-items: center;
}

.cart a{
  color: inherit;
}

.cart-image{
  margin-right: 8px;
}

@media (min-width: 900px) {
  .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
}
